# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg-link
.venv/
venv/
env/

# Environment
.env
.cache

# IDE
.vscode/
.DS_Store

# Frontend
node_modules/
dist/
backend/static/

# Misc
tree.md
csv2json.py
settings.json
